/* You can add global styles to this file, and also import other style files */

.bg-form-data{
  background-color: #F7FBFF;
  border: 2px solid #98B6D9
}

.button-active{
  background-color: #002C76;
  color: white;
}

.text-label{
  color: #2F5490;
  font-size:small;
  font-weight: bold;
}

.button-inactive{
  background-color: #EAEEF2;
  color: rgb(138, 138, 138);
  border: 2px solid #d5d7db;
}
